<div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Edit Teacher Profile</h1>
</div>
<form action="/teachers/{{teacher.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="form-row mb-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Enter name"
            value="{{teacher.User.name}}" required>
    </div>
    <div class="form-row mb-3">
        <label class="form-label" for="image">Image</label>
        <input class="form-control" type="file" class="form-control-file" id="image" name="image">
    </div>
    {{> teacher-form}}
</form>
<div style="padding-top: 0.5rem;">
    <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</div>